* {

	padding: 0;
	margin: 0;
}

body{

	font-size: 20px;
	font-family: Arial;
	background: white;
}

h1,h2,h3{

	font-family: Times;
}

#container{

	width: 760px;
	margin: 0 auto;
}

header{

	text-align: center;
	background: #fff;
	color: #32f;
	padding: 20px;
}

article p {

	margin: 1em 0 0;
}

section.post-head small{

	display: block;
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: solid 1px #fff;
	color: #006ca0;
}

section.post-head{

	border-top: solid 1px #eee;
	font-size: 14px;
	padding: 20px 0 0;
	margin: 20px 0 0;
}

footer{
  
  text-align: center;
  color: #aaa;
  font-size: 14px;

}